.top-banner.main-visual
  .top-main-visual
    .top-main-visual-content
      %h2
        スマホでかんたん
        %br
        フリマアプリ
      %p
        メルカリはスマホカメラからすぐに出品できる
        %br
        購入時も安心な独自システムのアプリです
      .top-main-visual-store
        =link_to root_path do
          =image_tag("app-store.svg", size: "170X50")
        =link_to root_path do
          =image_tag("google-play.svg", size: "170X50")
    =image_tag("main_content_pc.png", size: "440x390")
