$white : #fff;
$red : #ea352d;
$light-blue : #0099e8;
$gray-for-background : #f5f5f5;
$gray-for-button : #eee;
$gray-for-caption : #fafafa;
$black-for-font : #333;
$black-for-footer : #212121;
$font : 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
