<h2>支払い方法登録</h2>

<%= form_for(current_user, url: "/signup/completion", method: :get) do |f| %>

  <div class="field">
    <%= f.label :nickname %><br />

  </div>

  <div class="actions">
    <%= f.submit "次へ" %>
  </div>
<% end %>
