.l-side
  %nav.userpage-nav
    %ul.userpage-nav-list
      %li
        =link_to users_path, class: "userpage-nav-list-item" do
          マイページ
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          お知らせ
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          やることリスト
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          いいね！一覧
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          出品する
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          出品した商品 -出品中
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          出品した商品 -取引中
          =fa_icon 'chevron-right'


      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          出品した商品 -売却済
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          購入した商品 -取引中
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          購入した商品 -過去の取引
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          ニュース一覧
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          評価一覧
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          ガイド
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          お問い合わせ
          =fa_icon 'chevron-right'

  %h3.userpage-nav-head
    設定
  %nav.userpage-nav
    %ul.userpage-nav-list
      %li
        =link_to profile_users_path(current_user), class: "userpage-nav-list-item" do
          プロフィール
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          発送元・お届け先住所変更
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          支払い方法
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          メール/パスワード
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          本人情報
          =fa_icon 'chevron-right'

      %li
        =link_to root_path, class: "userpage-nav-list-item" do
          電話番号の確認
          =fa_icon 'chevron-right'

      %li
        =link_to logout_users_path, class: "userpage-nav-list-item" do
          ログアウト
          =fa_icon 'chevron-right'
