.main-container-card{
  margin: 40px auto 0;
  padding: 0 0 40px;
}

.settings-add-card{
  text-align: center;
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}

.single-content-card{
  max-width: 320px;
  margin: 0 auto;
}

.input-card{
  -webkit-appearance: none;
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
    &:focus{
    border: 1px solid #0099e8;
    outline: 0;
  }
}

.select-birthday{
  width: 140px;
}

.signup-card-list{
  margin-top: 8px;
  img{
    padding-left: 3px;
  }
}

.fa-credit-card{
  margin-right: 16px ;
  font-size: 18px;
  font-weight: bold;
}

.settings-add-card-left{
  width: 49%;
  text-align: left;
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}

.settings-add-card-right{
  width: 49%;
  text-align: right;
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}


.float-left{
  float: left;
}

.settings-payment-num{
  margin: 8px 0 0;
  font-size: 16px;
}

.settings-payment-remove{
  padding: 4px 6px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ea352d;
  color: #ea352d;
}

.card-flexbox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
