.container-identification{
  margin: 40px auto 0;
  padding: 0 0 40px;
}

.content-identification{
  width: 700px;
  margin: 0 auto;
  background: white;
}
.chapter-container{
  p:first-child{
    margin: 8px 0 0;
    line-height: 1.5;
  }
}

.chapter-head{
  font-size: 24px;
  padding: 8px 24px;
  text-align: center;
  line-height: 1.4;
  font-weight: bold;
}

.single-inner{
  padding: 64px;
  border-top: 1px solid #f5f5f5;
  p{
    margin: 8px 0 0;
    line-height: 1.5;
  }
}

.text-right{
  width: 100%;
  text-align: right;
}

.input-identification{
  -webkit-appearance:none;
  width: calc(100% - 34px);
  margin: 8px 0 0;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
    &:focus{
    border: 1px solid #0099e8;
    outline: 0;
  }
}

.select-wrap-identification{
  position: relative;
}
