.single-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.single-header{
  &{
    min-height: 128px;
    margin: 0 auto;
    background-color: $gray-for-background;
    h1{
      text-align: center;
      padding: 40px 0 0;
    }
    &-logo:hover{
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.single-main{
  min-height: 400px;
}

.l-single{
  &-container{
    margin: 0 auto;
    max-width: 700px;
    min-width: 320px;
  }
  &-head{
    text-align: center;
    font-size: 22px;
    font-weight:bold;
    background-color: white;
    padding: 32px 16px;
    line-height: 1.5;
  }
  &-inner{
    border-top: 1px solid #f5f5f5;
    padding: 64px 0;
    background-color: white;
  }
  &-content{
    margin: 0 auto;
    border-top: none;
    width: 320px;
  }
}

.btn{
  &-default{
    position: relative;
    width:100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
  }
  &-mail{
    background: #eee;
    color: #000;
    transition: 0.5s;
  }
  &mail:hover{
    transition: 0.5s;
    opacity: 0.6;
    cursor: pointer;
  }

  &-sns-facebook{
    margin: 18px 0 0;
    background: #385185;
    color: #fff;
    cursor: pointer;
  }

  &-sns-google{
    margin: 18px 0 0;
    background: #fff;
    border: #979797 solid 1px;
    color: #333;
    cursor: pointer;
  }
}

.fa{
  &-pull-left{
    width:46px;
    height:46px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
  }
  &-envelope-o.fa{
    color: #ccc;
    font-weight: bold;
    font-size: 20px;
  }
  &-facebook-official.fa{
    font-size: 20px;
  }
}

.single-footer{
  &{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 456px;
    padding: 40px 0;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
    z-index: -99;
      nav{
      ul{
          display: flex;
          justify-content: center;
          flex-direction: raw;
          a{
            text-decoration: none;
            color:black;
            margin:0 3px;
          }
          a:hover{
            text-decoration: underline;
            opacity: 0.6;
            cursor: pointer;
          }
      }
    }
  }
  &-logo{
    display: flex;
    flex-direction: column;
    img{
      padding:40px 0 3px;
    }
    img:hover{
      opacity: 0.6;
      cursor: pointer;
    }
  }
  &-logo-copyright{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}



