header.top-header{
  background-color: $white;
}

a{
  color: $light-blue;
  text-decoration: none;
}

li{
  list-style: none;
}

.header-form .input-default{
  width: 100%;
  height: 34px;
  padding: 9px 32px 9px 8px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.header{
  &-inner{
    width: 700px;
    margin: 0 auto;
    padding: 8px 0 0;
  }
  &-top{
    display: flex;
    justify-content : space-between;
  }
  &-form{
    position: relative;
    width: calc(100% - (134px + 16px));
    & i{
      position: absolute;
      width: 36px;
      height: 36px;
      line-height: 36px;
      top: 0;
      right: 0;
      text-align: center;
    }
  }
  &-user-icon{
    display: flex;
  }
  &-nav{
    margin: 8px 0 0;
    display: flex;
    justify-content : space-between;
    & h2{
      font-weight: 400;
    }
    &-left{
      display: flex;
      &>li{
        padding: 0 0 0 16px;
      }
      &>li:first-child {
        padding: 0;
      }
    }
    &-right{
      display: flex;
      &>li{
        padding: 0 0 0 16px;
      }
      & a{
        font-size: 14px;
        display: flex;
        color: $black-for-font;
      }
    }
    &-root{
      position: relative;
      line-height: 32px;
      height: 38px;
      display: flex;
      align-items: center;
      color: $black-for-font;
      &>div{
        font-size: 14px;
        margin: 0 0 0 8px;
      }
      &>img{
        border-radius: 50%;
      }
      &>span{
        margin: 0 0 0 8px;
      }
    }
    &-count{
      background-color: $red;
      border-radius: 50%;
      position: absolute;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      color: $white;
      font-size: 12px;
      top: -2px;
      left: -3px;
    }
    &-parent{
      display: none;
      width: 224px;
      & h3{
        font-weight: 400;
        font-size: 14px;
        & a{
          padding: 0 16px;
          line-height: 44px;
          &:hover{
            background: $red;
            color: $white;
          }
          &.active-for-header{
            background: $red;
            color: $white;
          }
        }
      }
      &-wrap{
        z-index: 100;
        width: auto;
        position: absolute;
        background-color: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        & a{
          display: flex;
          align-items: center;
          color: $black-for-font;
        }
      }
    }
    &-child{
      display: none;
      width: 224px;
      & a{
        padding: 8px 16px;
        font-size: 14px;
        &:hover{
          background: #eee;
        }
        &.active-for-header{
          background: #eee;
        }
      }
      &-wrap{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 224px;
        background-color: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
      }
    }
    &-grand-child{
      display: none;
      width: 224px;
      & a{
        padding: 8px 16px;
        font-size: 14px;
        &:hover{
          background: #eee;
        }
      }
      &-wrap{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 224px;
        background-color: $white;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
      }
    }
    &-user-box{
      z-index: 100;
      display: none;
      position: absolute;
      background-color: $white;
      width: 320px;
    }
    &-notification-box{
      z-index: 100;
      display: none;
      position: absolute;
      left: 51%;
      width: 320px;
      background-color: $white;
      &>li{
        position: relative;
        border-bottom: 1px solid #eee;
        &:hover{
          background-color: $gray-for-caption;
        }
      }
    }
    &-todo-box{
      z-index: 100;
      background-color: $white;
      position: absolute;
      left: 53%;
      display: none;
      width: 320px;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
    }
  }
}

.header-nav-left>li:hover .header-nav-parent{
  display: block;
}

.header-nav-right>li:hover .header-nav-user-box{
  display: block;
}

.header-nav-right>li:hover .header-nav-notification-box{
  display: block;
}

.header-nav-right>li:hover .header-nav-todo-box{
  display: block;
}

.header-nav-parent:hover .header-nav-child{
  display: block;
}

.header-nav-child:hover {
  display: block;
}

.header-nav-child:hover .header-nav-grand-child{
  display: block;
}

.mypage{
  &-state{
    & figure{
    padding: 28px 0 0;
    background-image: url(/images/user-bg.jpg);
    background-size: 320px 80px;
    background-repeat: no-repeat;
    &>div{
      width: 60px;
      height: 60px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
      }
    }
    & figcaption{
      margin: 8px 0 0;
      padding: 0 8px;
      font-size: 16px;
      text-align: center;
    }
  }
  &-review-listing{
    margin: 8px 0 0;
    padding: 8px 8px 0;
    display: flex;
    justify-content: center;
    & li{
      margin: 0 0 0 16px;
      &:first-child{
        margin: 0;
      }
    }
  }
  &-sales-point{
    width: 300px;
    margin: 16px auto;
    background: $gray-for-caption;
    border: 1px solid $gray-for-button;
    & li{
      border-top: 1px solid $gray-for-button;
    }
    & li:first-child{
      border-top: 0;
    }
  }
  &-nav-list{
    & li{
      border-top: 1px solid $gray-for-button;
    }
    &-item{
      position: relative;
      min-height: 48px;
      padding: 16px;
      box-sizing: border-box;
      background-color: $white;
      font-size: 14px;
      color: $black-for-font;
      & .fa-chevron-right{
        position: absolute;
        top: 38%;
        right: 20px;
      }
      & i{
        -webkit-transition: all .2s ease-out;
           -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
             -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
      }
      &:hover i{
        position: absolute;
        color: $black-for-font;
        transform: translate(5px, 0);
        -webkit-transition: all .2s ease-out;
           -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
             -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
      }
    }
    & :hover{
      background-color: $gray-for-caption;
    }
  }
  &-item{
    &-link{
      padding: 16px;
      min-height: 80px;
      box-sizing: border-box;
      display: flex;
      align-items: flex-start;
      & a{
        display: flex;
        align-items: flex-start;
      }
      &>.fa-chevron-right{
        position: absolute;
        top: 40%;
        right: 16px;
      }
      & time{
        color: #888;
        margin: 3px 0 0 0;
        display: inline-block;
      }
    }
    &-image{
      position: absolute;
    }
    &-body{
      margin: 0 40px 0 68px;
    }
    &-text{
        overflow: hidden;
        display: block;
        display: -webkit-box;
        max-height: 4.4em;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        line-height: 1.5;
    }
    &-not-found{
      background-image: url(/images/logo-gray-icon.svg);
      background-size: 78px 85px;
      background-position: center;
      background-repeat: no-repeat;
      padding: 160px 0 60px;
      text-align: center;
      font-size: 16px;
      color: #ccc;
    }
  }
}

.salse-point{
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  &:hover{
    opacity: .6;
  }
}

.fa-chevron-right{
  opacity: .7;
  color: #ccc;
}

.top{
  &-banner{
    display: block;
    background-size: cover;
    background-position: center;
    height: 100%;
    &.banner-new-life{
      background-image: url(/images/banner-new-life.jpg);
      height: 100%;
    }
    &.banner-bokurano-heisei{
      background-image: url(/images/banner-bokurano-heisei.jpg);
      height: 100%;
    }
    &.main-visual{
      background-image: url(/images/main_bg_pc.jpg);
      width: auto;
      height: 100%;
    }
  }
  &-main-visual{
    position: relative;
    max-width: 860px;
    height: 100%;
    margin: 0 auto;
    &-content{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      & h2{
        font-size: 60px;
      }
      & p{
        font-size: 18px;
        margin: 16px 0 0 0;
      }
    }
    &-store{
      margin: 24px 0 0 0;
      &>a:last-child{
        margin: 0 0 0 8px;
      }
    }
    &>img{
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
  }
}

.owl{
  &-carousel{
    position: relative;
    height: 390px;
  }
  &-stage-outer{
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
  }
  &-stage{
    position: relative;
    display: flex;
    height: 100%;
  }
  &-item{
    height: 100%;
  }
  &-nav div{
    color: transparent;
    cursor: pointer;
    height: 46px;
    width: 31px;
    position: absolute;
    top: 50%;
  }
  &-prev{
    background-image: url(/images/carousel-prev.png);
    left: 60px;
  }
  &-next{
    background-image: url(/images/carousel-next.png);
    right: 60px;
  }
  &-dots{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: -30px 0;
  }
  &-dot{
    position: relative;
    background: #fff;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    margin-right: 15px;
    opacity: .4;
    &.active-for-dot{
      background: rgba(0,0,0,0.5);
    }
    &:last-child{
      margin: 0;
    }
  }
}

.pickup{
  &-container{
    padding: 40px 0;
  }
  &-head{
    font-size: 28px;
    text-align: center;
  }
}

.view-all{
  padding: 20px 0 30px;
  margin: 0 5px 0 0;
  text-align: right;
}

.items-box{
  margin: 0 0 0 20px;
  width: 213px;
  &-container{
    margin: 0 auto;
    width: 940px;
    &>h3{
      text-align: center;
      font-size: 22px;
      margin: 26px 11px;
    }
  }
  &>a{
    color: $black-for-font;
    display: block;
    background-color: $white;
  }
  &-content{
    display: flex;
  }
  &-body{
    height: 110px;
    padding: 16px;
    box-sizing: border-box;
    font-size: 16px;
  }
  &-num{
    margin: 8px 0 0;
  }
  &-name{
    overflow: hidden;
    position: relative;
    font-weight: 400;
    height: 3em;
    line-height: 1.5;
    word-break: break-word;
    white-space: normal;
  }
  &-price{
    float: left;
  }
  &-likes{
    float: right;
  }
  &-tax{
    font-size: 10px;
    clear: both;
  }
}

.app-banner{
  background-image: url(/images/download_bg_pc.jpg);
  background-position: center;
  &-container{
    width: 750px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    justify-content : space-between;
    align-items: center;
  }
  &-inner h2{
    color: $white;
    font-size: 24px;
    margin: 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }

  &-inner p{
    color: $white;
    font-size: 35px;
    margin: 10px 0 0;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }

  &-icon{
    margin: 20px 0 0;
    display: flex;
    align-items: center;
  }
  &-appstore{
    margin: 0 0 0 24px;
    display: flex;
    & li:last-child{
      margin: 0 0 0 16px;
    }
  }
}

.global-footer{
  text-align: center;
  background-color: #212121;
  padding: 60px 0;
  & a {
    color: $white;
  }
  & nav {
    width: 1020px;
    margin: 0 auto;
  }
}
.footer{
  &-items{
    display: flex;
    align-items: flex-start;
  }
  &-head{
    color: $white;
    font-size: 16px;
  }
  &-cell{
    width: 23%;
    margin: 0 2% 0 0;
    & li{
      margin: 16px 0;
    }
    & li:first-child{
      margin: 24px 0;
    }
  }
  &-logo{
    text-align: center;
  }
  &-copyright{
    color: $white;
    margin: 8px 0 0;
    text-align: center;
  }
  &-lang a {
    opacity: 0.3;
    display: inline-flex;
    align-items: center;
  }
  &-lang .active-for-footer{
    opacity: 1;
  }
  &-lang img {
    margin: 0 8px 0 0;
  }
  &-sell-btn{
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    text-align: center;
    background-color: $red;
    color: $white;
    border-radius: 50%;
    & div{
      font-size: 22px;
      margin: 32px 0 0;
    }
    & .fa-camera{
      font-size: 54px;
      margin: 8px 0 0;
    }
  }
}
