%ul.sell-upload-items-list{ class: "have-item-#{item_images.length % 5}" }
  - item_images.each do |item_image|
    %li.sell-upload-item
      %figure.sell-upload-figure.square
        = image_tag item_image.image
      .sell-upload-button
        .sell-upload-edit 編集
        .sell-upload-delete 削除
