- if request.path_info == new_item_path
  = f.select :sender_prefecture, options_from_collection_for_select(Prefecture.all, :id, :name), { include_blank: "---" }, class: "select-default"

- elsif request.path_info == edit_item_path
  = f.select :sender_prefecture, options_from_collection_for_select(Prefecture.all, :id, :name, selected: "#{@item.sender_prefecture}"), { include_blank: "---" }, class: "select-default"
