- if request.path_info == new_item_path
  = f.select :shipping_cost_id, options_from_collection_for_select(ShippingCost.all, :id, :name), { include_blank: "---" }, class: "select-default"
- elsif request.path_info == edit_item_path
  = f.select :shipping_cost_id, options_from_collection_for_select(ShippingCost.all, :id, :name, selected: "#{@item.shipping_cost_id}"), { include_blank: "---" }, class: "select-default"
