.purchase-container
  %header.purchase-header
    %h1
      = link_to image_tag("logo.svg",  width: "185", alt: "logo", class: "purchase-header-logo"), root_path
  %main.purchase-main
    %h2.purchase-chapter 購入が完了しました！
    %section.purchase-item
      .purchase-item-image
        =image_tag @item.item_images.first.image
      .purchase-item-name.bold
        = @item.name
      .purchase-item-form
        .purchase-item-form-flex-center
          %p.bold
            ¥
            = @item.price
          %span 送料込み
  = render "./common/footer-singlefooter"
