%h2
  = link_to "ブランドから探す", root_path, class: "header-nav-root"
%ul.js-header-nav-parent-wrap.header-nav-parent-wrap
  %li.js-header-nav-parent.header-nav-parent
    %h3=link_to "naiki", root_path
    %h3=link_to "rikuti", root_path
    %h3=link_to "kaigan", root_path
