%h2
  = link_to "カテゴリーから探す", root_path, class: "header-nav-root"
%ul.js-header-nav-parent-wrap.header-nav-parent-wrap
  - Category.where(parent: 0).each do |category|
    = render "./common/cat-child", parent_category: category
