%li.js-header-nav-parent.header-nav-parent
  %h3=link_to parent_category.name, root_path
  %ul.js-header-nav-child-wrap.header-nav-child-wrap
    - Category.where(parent: parent_category.id).each do |child_category|
      =render "./common/cat-ground-child", child_category: child_category
