%li.js-header-nav-child.header-nav-child
  =link_to name, root_path
  %ul.js-header-nav-grand-child-wrap.header-nav-grand-child-wrap
    %li.js-header-nav-grand-child.header-nav-grand-child
      =link_to "Tシャツ", root_path
    %li.js-header-nav-grand-child.header-nav-grand-child
      =link_to "Tシャツ", root_path
    %li.js-header-nav-grand-child.header-nav-grand-child
      =link_to "Tシャツ", root_path
    %li.js-header-nav-grand-child.header-nav-grand-child
      =link_to "Tシャツ", root_path
