%li.js-header-nav-parent.header-nav-parent
  %h3=link_to name, root_path
  %ul.js-header-nav-child-wrap.header-nav-child-wrap
    =render "./common/cat-ground-child", name: "トップス01"
    =render "./common/cat-ground-child", name: "トップス02"
    =render "./common/cat-ground-child", name: "トップス03"
