%footer.single-footer
  %nav
    %ul
      %li
        = link_to "プライバシーポリシー", "#"
      %li
        = link_to "メルカリ利用規約", "#"
      %li
        = link_to "特定商取引に関する表記", "#"
  %div.single-footer-logo-copyright
    %div
      = link_to image_tag("logo-gray.svg",  width: "80", alt: "logo"), "#", class: "single-footer-logo"
    %div
      %p
        %small &copy; 2019 Mercari
